h1{
    text-align: center;
}

form{
    display: block;
    margin: auto;
    max-width: 30%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.521);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

input{
    border: none;
    background-color: rgba(233, 233, 228, 0.945);
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.158);
    padding: 8px;
    border-radius: 5px;
    outline: none;
    margin: 10px auto;
}

form>input{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    border: none;
    padding: 7px;
    background-color: rgba(25, 0, 255, 0.596);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.479);
    border-radius: 5px;
    color: rgba(5, 5, 5, 0.753);
    margin: auto;
    display: block;

}

.msg{
    margin: 10px auto;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.err{
    background-color: red;
}

.good{
    background-color: green;
}

